.lista-categorias {
    width: 100%;
    box-sizing: border-box;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.lista-categorias__categoria {
    font-weight: var(--fonte-peso-categorias);
    background-color: var(--cor-contraste-claro);
    border-radius: 3rem;
    padding: 1rem;
}

.lista-categorias__categoria--Sustentabilidade {
    color: var(--cor-contraste-claro);
    background-color: var(--cor-categoria-sustentabilidade);
}

.lista-categorias__categoria--Tecnologia {
    color: var(--cor-contraste-claro);
    background-color: var(--cor-categoria-tecnologia);
}

.lista-categorias__categoria--Livros {
    color: var(--cor-contraste-claro);
    background-color: var(--cor-categoria-livros);
}

.lista-categorias__categoria--Zen {
    color: var(--cor-contraste-claro);
    background-color: var(--cor-categoria-zen);
}

