.lista-categorias {
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
}

.lista-categorias__categoria,
.lista-categorias__subcategoria {
    font-weight: var(--fonte-peso-categorias);
    border-radius: 3rem;
    padding: 1rem;
    margin-right: 1rem;
}

.lista-categorias__categoria--Sustentabilidade,
.lista-categorias__subcategoria--1,
.lista-categorias__subcategoria--5 {
    color: var(--cor-contraste-escuro);
    background-color: var(--cor-categoria-sustentabilidade);
}

.lista-categorias__categoria--Tecnologia,
.lista-categorias__subcategoria--4 {
    color: var(--cor-contraste-escuro);
    background-color: var(--cor-categoria-tecnologia);
}

.lista-categorias__categoria--Limpeza,
.lista-categorias__subcategoria--6 {
    color: var(--cor-contraste-escuro);
    background-color: var(--cor-categoria-limpeza);
}

.lista-categorias__categoria--Zen,
.lista-categorias__subcategoria--3 {
    color: var(--cor-contraste-escuro);
    background-color: var(--cor-categoria-zen);
}

.lista-categorias__categoria--Receitas,
.lista-categorias__subcategoria--7,
.lista-categorias__subcategoria--8,
.lista-categorias__subcategoria--9 {
    color: var(--cor-contraste-escuro);
    background-color: var(--cor-categoria-receitas);
}

