.lista-categorias {
    width: 100%;
    box-sizing: border-box;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.lista-categorias__categoria {
    font-weight: var(--fonte-peso-categorias);
    background-color: var(--cor-contraste-claro);
    border-radius: 3rem;
    padding: 1rem;
}

.lista-categorias__categoria--1-Sustentabilidade,
.lista-categorias__subcategoria--1 {
    color: var(--cor-contraste-escuro);
    background-color: var(--cor-categoria-sustentabilidade);
}

.lista-categorias__categoria--4-Tecnologia,
.lista-categorias__subcategoria--4 {
    color: var(--cor-contraste-escuro);
    background-color: var(--cor-categoria-tecnologia);
}

.lista-categorias__categoria--5-Leitura,
.lista-categorias__subcategoria--5 {
    color: var(--cor-contraste-escuro);
    background-color: var(--cor-categoria-leitura);
}

.lista-categorias__categoria--3-Zen,
.lista-categorias__subcategoria--3 {
    color: var(--cor-contraste-escuro);
    background-color: var(--cor-categoria-zen);
}

.lista-categorias__categoria--2-Culinária,
.lista-categorias__subcategoria--2 {
    color: var(--cor-contraste-escuro);
    background-color: var(--cor-categoria-comida);
}

