.lista-categorias {
    width: 100%;
    justify-content: center;
}

.lista-categorias__categoria,
.lista-categorias__subcategoria {
    font-weight: var(--fonte-peso-categorias);
    border-radius: 3rem;
    padding: 1rem;
    margin-right: 1rem;
}

.lista-categorias__categoria--Sustentabilidade {
    color: var(--cor-contraste-escuro);
    background-color: var(--cor-categoria-sustentabilidade);
}

.lista-categorias__categoria--Tecnologia {
    color: var(--cor-contraste-escuro);
    background-color: var(--cor-categoria-tecnologia);
}

.lista-categorias__categoria--Limpeza {
    color: var(--cor-contraste-escuro);
    background-color: var(--cor-categoria-limpeza);
}

.lista-categorias__categoria--Zen {
    color: var(--cor-contraste-escuro);
    background-color: var(--cor-categoria-zen);
}

.lista-categorias__categoria--Culinária {
    color: var(--cor-contraste-escuro);
    background-color: var(--cor-categoria-culinaria);
}

