.cartao {
    background-color: var(--cor-contraste-claro);
    border-radius: 10px;
    box-shadow: var(--sombra);
    width: 100%;
    max-width: 45rem;
    padding: 1.75rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.cartao__categoria {
    font-size: var(--fonte-tamanho-cartao-categoria);
    margin-top: 1.25rem;
}

.cartao__titulo {
    font-size: var(--fonte-tamanho-cartao-titulo);
    margin-bottom: 1rem;
}

.cartao__descricao {
    font-size: var(--fonte-tamanho-cartao-descricao);
    margin-bottom: 1rem;
}

.cartao__imagem {
    width: 100%;
    margin-bottom: 1rem;
}

.cartao__texto {
    line-height: 1.2rem;
}

.cartao-posts {
    background-color: var(--cor-contraste-claro);
    border-radius: 10px;
    box-shadow: var(--sombra);
    width: 600px;
    max-width: 25rem;
    padding: 1rem 2rem 2rem;
    box-sizing: border-box;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
    border-top: 1.25rem solid;
}


.cartao-post {
    background-color: var(--cor-contraste-claro);
    border-radius: 10px;
    box-shadow: var(--sombra);
    width: 600px;
    max-width: 45rem;
    padding: 1rem 2rem 2rem;
    box-sizing: border-box;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
    border-top: 1.25rem solid;
}

.cartao-post__titulo {
    font-size: var(--fonte-tamanho-cartao-post-titulo);
    font-weight: var(--fonte-peso-cartao);
    margin-bottom: 1rem;
}

.cartao-post__meta {
    line-height: 1.3rem;
}

.cartao-post__image {
    margin-top: 20px;
    width: 100%;
}

.cartao-post--Reciclagem, 
.cartao-post--6 {
    border-color: var(--cor-categoria-sustentabilidade);
}

.cartao-post--GreenTech {
    border-color: var(--cor-categoria-tecnologia);
}

.cartao-post--Romance {
    border-color: var(--cor-categoria-leitura);
}

.cartao-post--Meditação {
    border-color: var(--cor-categoria-zen);
}

.cartao-post--Saudável {
    border-color: var(--cor-categoria-comida);
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width: 900px) {
    .posts {
        align-items: stretch;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}